body{
  width: 100%;
  height: 100%;
}

.container{
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background: #ccc;
  display: inline-block;
}

.img{
  width: 150px;
  height: 150px;
  padding: 5px 5px;
  position: relative;
  float: left;
  background: #aaa;
}

.img img{
  position: inherit;
}

.menu{
  width: 100%;
  height: 50%;
  margin: 5px;
  padding: 10px;
  position: relative;
  float: right;
}

.menu a{
  padding: 5px;
  display: block;
}
